{{ set(this, 'title', _Blog.getBlogTitle()) }}

{% set networkData  = _Network.getNetworkData() %}

<main id="photo-sales">
<h1>Photo Sales</h1>
</main>


<link rel="stylesheet" href="{{networkData.templatePath}}/static/build/css/main.42a78346.chunk.css" type="text/css" media="all">
{{ this.registerJsFile( networkData.templatePath ~ "/static/build/js/main.f43b7ff7.chunk.js") }}
