@import '../../styles/global.scss';



.modal {
    display:flex;
    position:fixed;
    top:0;
    width:100%;
    height:100%;
    z-index:1001;
    background: rgba(0,0,0,0.7);


    &__window {
        margin: auto auto;
        width:468px;
        background:white;
        padding:25px 20px;
        border-radius:3px;
        @media #{$media-ipadSmall} {
            width:auto;
        }
    }

    &__container {
        position:relative;
        margin:auto;
    }

    &__header {
        overflow:auto;
    }

    &__title {
        @include font-size(18);
        text-align:center;
        font-weight: $weightBold;
        margin-bottom:20px;
    }
    &__message {
        @include font-size(13);
    }

    &__close {
        display:block;
        height:20px;
        width:20px;
		background: url('/images/cross-black.svg');
        background-repeat:no-repeat;
        position: absolute;
        top: 0;
        right: 0;
    }

    &__content-window {
    }

}