@mixin font-size($sizeValue: 16, $line: $sizeValue * 1.2) {
	font-size: ($sizeValue / 16) + rem;
	line-height: ($line / 16) + rem;
}


@mixin transition($transition) {
	transition: $transition;
	-moz-transition: $transition;
	-o-transition: $transition;
	-webkit-transition: $transition;
	-ms-transition: $transition;
}

@mixin transform($transforms) {
	-webkit-transform: $transforms;
	/* Chrome, Safari, Opera */
	-moz-transform: $transforms;
	/* Mozilla Firefox */
	-o-transform: $transforms;
	-ms-transform: $transforms;
	/* IE 9 */
	transform: $transforms;
}


@mixin flexbox {
	display:-webkit-box;
	display:-webkit-flex;
	display:-moz-flex;
	display:-ms-flexbox;
	display:flex;
}
	
@mixin align-items($value:stretch) {
	@if $value == flex-start {
		-webkit-box-align:start;
		-ms-flex-align:start;
	} @else if $value == flex-end {
		-webkit-box-align:end;
		-ms-flex-align:end;
	} @else {
		-webkit-box-align:$value;
		-ms-flex-align:$value;
	}
	-webkit-align-items:$value;
	-moz-align-items:$value;
	align-items:$value;
}



@mixin align-content($value:stretch) {
	-webkit-align-content:$value;
	-moz-align-content:$value;
	@if $value == flex-start {
		-ms-flex-line-pack:start;
	} @else if $value == flex-end {
		-ms-flex-line-pack:end;
	} @else {
		-ms-flex-line-pack:$value;
	}
	align-content:$value;
}


@mixin justify-content($value:flex-start) {
	@if $value == flex-start {
		-webkit-box-pack:start;
		-ms-flex-pack:start;
	} @else if $value == flex-end {
		-webkit-box-pack:end;
		-ms-flex-pack:end;
	} @else if $value == space-between {
		-webkit-box-pack:justify;
		-ms-flex-pack:justify;
	} @else if $value == space-around {
		-ms-flex-pack:distribute;		
	} @else {
		-webkit-box-pack:$value;
		-ms-flex-pack:$value;
	}
	-webkit-justify-content:$value;
	-moz-justify-content:$value;
	justify-content:$value;
}
	


@mixin flex-direction($direction, $orient) {
	-webkit-flex-direction: $direction;
	-moz-flex-direction: $direction;
	-ms-flex-direction: $direction;	
	flex-direction: $direction;
	-webkit-box-orient: $orient;
	-moz-box-orient: $orient;
	-ms-box-orient: $orient;
	box-orient: $orient;
}


@mixin size($width, $height: $width) {
	width: $width;
	height: $height;
}


@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	border-radius: $radius;
}


@mixin font-size($sizeValue: 16, $line: $sizeValue * 1.2) {
	font-size: ($sizeValue / 16) + rem;
	line-height: ($line / 16) + rem;
}

@mixin box-shadow($shadow) {
	-webkit-box-shadow: $shadow;
	-moz-box-shadow: $shadow;
	-ms-box-shadow: $shadow;
	box-shadow: $shadow;
}


@mixin flex-height($int) { 
	height: $int;
	min-height: $int;
	max-height: $int;
}
@mixin flex-width($int) { 
	width: $int;
	min-width: $int;
	max-width: $int;
}
