//Fonts
$font-family-sans-serif:    "Roboto", Helvetica, Arial, sans-serif;
$font-family-serif:    		"Noto Serif", "Times New Roman", Times, serif;
$base-font-family: 			"Roboto", Helvetica, Arial, sans-serif !default;


$iconfont: 'FontAwesome';


// Font Sizing
// ================================
$baseFontSize: 1rem;
$uppercase: uppercase;

// Styles
// ================================

/* Primary Fonts Style */
$primaryFont: 'Roboto', sans-serif;
$secondaryFont: 'Noto Serif', serif;
$weightLight: 300;
$weightRegular: 400;
$weightMedium: 500;
$weightSemibold: 600;
$weightBold: 700;
$weightUltabold: 900;



$font-size-base:            16px;
$font-unit:                 0em; 
$browser-context:           $font-size-base;
$baseFontSize:				16px; /* ($baseFontSize * 1) + 0px; */





//colors
$greyish:       #595859;
$darkergrey:      #979797;
$grey-text:     rgba(89,88,89, 1);
$grey:          rgba(89,88,89, 0.7);
$grey_sh1:      rgba(89,88,89, 0.5);
$black:         #000000;
$transparent:   rgba(0,0,0, 0);
$blue:          #0e215d;
$blue_sh1:      #4573cd;
$blue_sh2:      #4772cc;
$blue_sh3:      #ebf4f8;
$blue_sh4:      #7197e2;
$red:           #ff0000;
$red_sh1:       #d5012c;
$error:         #c51515;
$success:       #22e6ba;
$warning:       #fcba08;
$info:          #213f9e;
$white:         #ffffff;
$offwhite:      #e7e7e7;
$border:        #b5b4b5;
$hoverColor:    $blue_sh4;
$unsuccessful:  #ff3569;
$blackred:      #ac001a;
$black_sh1:     #333333;
$black_sh2:     lighten($black_sh1,20%); /* color code == #666666 also (0,0,0,0.6) */
$black_sh3:     lighten($black_sh1,40%); /* color code == #999999 */
$black_sh4:     lighten($black_sh1,60%); /* color code == #cccccc */
$black_sh5:     lighten($black_sh1,41%); /* color code == #9c9c9c */

$facebook:      #3b5998;
$twitter:       #00aeef;
$pinterest:     #bd081c;
$googleplus:    #e34829;
$youtube:       #d62423;
$vimeo:         #5bc7ff;
$instagram:     #2c5987;
$linkedin:      #1f7bc2;
$flickr:        #377ede;
$lightgrey:     #cdcdcd;
$lightborder:   #e0e0e0;



//Buttons
// $btn-primary-color:              #fff !default;
// $btn-primary-bg:                 $brand-primary !default;
// $btn-primary-border:             darken($btn-primary-bg, 5%) !default;




//Responsive break points
$viewportSize: 100%;
$max-width: 1920px;


// $header-break:              992px;
// $large-break:				1450px;
// $md-break:                  1200px; /* col-lg  */
// $mmd-break:                 992px;  /* col-md ipad landscape */
// $mmd-break-down:            991px;  /* col-md ipad landscape */
// $sm-break:                  768px;  /* col-sm ipad */
// $sm-break-down:             767px;  /* col-sm ipad */
// $mobile-break:              620px;	/* col-xs */
// $sm-mobile-break:           490px;	/* col-xs */

$screen-xs:                  767px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs !default;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  991px !default;
$screen-sm-min:              $screen-sm !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;







$center:					center;


$desktop-lg: 			"screen and (min-width : 1330px)";
$desktop-up: 			"screen and (min-width : 992px)";
$desktop-down: 			"screen and (max-width : 992px)";
$desktop: 				"screen and (min-width : 992px) and (max-width : 1329px)";
// $smallDevices: 			"screen and (min-width : 1025px) and (max-width : 1150px)";
// $ipadPortrait: 			"screen and (max-width : 992px)";
$phone: 				"screen and (min-width : 200px) and (max-width : 480px)";
// $iPhoneMedium:	   		"screen and (min-width : 481px)  and (max-width : 667px)";
// $iPhoneLarge: 			"screen and (min-width : 668px)  and (max-width : 767px)";
$tabletLandscape: 		"screen and (min-width : 992px) and (max-width : 1024px)";
$tablet-up: 			"screen and (min-width : 768px)";
$tablet: 				"screen and (min-width : 768px) and (max-width : 991px)";
$up-to-desktop: 		"screen and (max-width : 991px)";
$bootstrap-sm: 			"screen and (min-width : 576px) and (max-width : 767px)";
$mobile-sm-up: 			"screen and (min-width : 576px)";
$mobile: 				"screen and (max-width : 767px)";


$media-desktop: "screen and (max-width: 1199px)";
$media-ipadPortrait: "screen and (max-width :991px)";
$media-iPad: "screen and (min-width : 768px) and (max-width : 991px)";
$media-ipadSmall: "screen and (max-width :767px)";
$media-tablet: "screen and (max-width: 575px)";
$media-phone: "screen and (max-width : 480px)";


// Standard transition speed
$transition: 0.4s;



