@import "./card";

@mixin card-5-base() {

    .c-cards-view {
        @include flex-direction(column, vertical);
        box-shadow:none;
        background: $white;


        &__container {
            padding: 30px 25px 30px 25px;
            position:relative;
        }


        &__heading {
            display:none;
            @include flex-height(53px);
            @include font-size(20);
            margin:0;
        }
        &__description {
            @include flex-height(62px);
            @include font-size(13);
        }

        &__time {
            margin-top: 13px;
        }

        &__buttons {
            position:absolute;
            @include flex-direction(column, vertical);
            @include align-items(center);
            top:15px;
            right:10px;
            max-height:60px;
        }

    }
}

.ps-card-5-mobile {
    @media #{$mobile} {
        @include card-5-base();
        margin-bottom:30px;

        .c-cards-view {

            border-bottom:1px solid $greyish;

            &__container {
                padding: 17px 50px 30px 0;
                position:relative;
            }
    
        }

    }
}


@mixin card-5-tablet-base {
    @include card-5-base();
    margin-left: 0;
    margin-right: 0;
    

}

.ps-card-5-tablet {
    @media #{$tablet} {
        @include card-5-tablet-base();
    }
}
.ps-card-5-desktop {
    background:red;
    @media #{$desktop-up} {

        @include card-5-tablet-base();
    }
}




