@import "./card";

@mixin card-4-base() {
    margin-left: -20px;
    margin-right: -20px;

    .c-cards-view {
        @include flex-direction(column, vertical);
        background: $white;


        &__container {
            padding: 20px 15px;
            position:relative;
        }

        &__category {
            display:none;
        }

        &__heading {
            display:none;
        }

        &__description {
            width:90%;
            @include flex-height(53px);
            @include font-size(20);
            margin:0;
        }

        &__time {
            margin-top: 13px;
        }

        &__buttons {
            position:absolute;
            @include flex-direction(column, vertical);
            @include align-items(center);
            @include justify-content(space-between);
            top:22px;
            right:10px;
            height:46px;
            max-height:60px;
            // margin-top: 13px;
        }


        &.without-image {
            .c-cards-view__container {
                width: 100%;
                margin-left: 0px;
                padding: 0px 20px 0;
            }

            .c-cards-view__description {
                margin-bottom: 15px;
                display: block;
                max-height: 90px;
                overflow: hidden;
            }
        }


    }
}

.ps-card-4-mobile {
    @media #{$mobile} {
        @include card-4-base();
        margin-bottom:30px;
    }
}


@mixin card-4-tablet-base {
    @include card-4-base();
    margin-left: 0;
    margin-right: 0;
    
    .c-cards-view {
        // height: 493px;

        &__media {
            @include flex-height(246px);

            img {
                height: 100%;
            }

        }

        &__category {
            display:none;
        }

        &__heading {
            display:none;
        }

        &__description {
            @include flex-height(53px);
            @include font-size(20);
            line-height:1.26;
            margin-bottom:15px;
        }


        &.without-image {

            .c-cards-view {
                &__container {
                    padding: 30px;
                }
                &__category {
                    margin-bottom: 50px;
                }
        
                &__heading {
                    margin-bottom: 10px;
                }
                &__description {
                    margin-top: 5px;
                    @include flex-height(225px);
                    @include font-size(15);
                    line-height: 1.9;
                }
        
                &__author {
                    margin-top:35px;
                }


            }
        }

    }

}

.ps-card-4-tablet {
    @media #{$tablet} {
        @include card-4-tablet-base();
    }
}
.ps-card-4-desktop {
    @media #{$desktop-up} {
        @include card-4-tablet-base();
    }
}




