@import '../../styles/global.scss';
@import "./card";

@mixin card-3-base() {
    margin-bottom: 30px;
    
    &:not(:last-child) {
        margin-bottom:20px;
        padding-bottom:20px;
        border-bottom: 1px solid rgba($greyish, 0.8);
    }

    // background:pink;
    .c-cards-view {
        @include flex-direction(column, vertical);
        box-shadow:none;
        // background: red;
        height:auto;

        
        &__container {
            padding: 0;
            width:100%;
        }
        &__media {
            img {
                height:100%;
            }
        }


        &__heading {
            margin:0;
            @include flex-height(25px);
            @include font-size(18);
            margin-bottom:10px;
            font-weight: $weightMedium;
        }
        &__description {
            @include font-size(13);
            line-height: 1.54;
            @include flex-height(62px);
            color: $greyish;
        }

        &__time {
            margin-top: 13px;
        }


        &__photo-top {
            @include flexbox();
            @include flex-direction(row, horizontal);
        }
        &__close {
            width:20px;
            height:20px;
        }


        &.video {
            .c-cards-view__media .video-icon {
                @include size(40px);
            }
        }

        &.without-image {
            .c-cards-view__container {
                width: 100%;
                margin-left: 0px;
                padding: 0px 20px 0;
            }

            .c-cards-view__description {
                margin-bottom: 15px;
                display: block;
                max-height: 90px;
                overflow: hidden;
            }
        }
    }
}

.card-3-mobile {
    @media #{$mobile} {
        @include card-3-base();

    }
}


@mixin card-3-tablet-base {

    @include card-3-base();
    margin-left: 0;
    margin-right: 0;
    
    .c-cards-view {
        @include flex-direction(row, horizontal);
        box-shadow:none;
        height:auto;
    
        
    
        &__media {
            @include flex-height(138px);
            @include flex-width(186px);
            margin-right: 18px;
        }
    
    
        &__heading {
            margin:0;
            @include flex-height(25px);
            @include font-size(18);
            margin-bottom:10px;
            font-weight: $weightMedium;
        }
        &__description {
            @include font-size(13);
            line-height: 1.54;
            @include flex-height(60px);
            color: $greyish;
        }
    
        &__time {
            margin-top: 13px;
        }
    
        &__lineItems {
            @include flexbox();
            @include flex-direction(column, vertical);
            @include justify-content(center);
            width:100%;
        }
    
        &__photo-top {
            @include flexbox();
            @include flex-direction(row, horizontal);
        }
        &__close {
            width:20px;
            height:20px;
        }
    
    }
}

.card-3-tablet {
    @media #{$tablet} {
        @include card-3-tablet-base();
    }

}

.card-3-desktop {
    @media #{$desktop} {
        @include card-3-tablet-base();
        .c-cards-view {
            // &__media {
            //     @include flex-height(160px);
            //     @include flex-width(240px);
            //     margin-right: 36px;
            // }
        }
    }
}

.card-3-desktop-lg {

    @media #{$desktop-lg} {
    
        @include card-3-tablet-base();
        
        .c-cards-view {

            &__media {
                @include flex-height(160px);
                @include flex-width(240px);
                margin-right: 36px;
            }
        }


    }
}




