@import '../../styles/global.scss';


.c-section-head {
    margin-bottom: 25px;

    &__title-container {
        display: flex;
        position:relative;
        justify-content: space-between;
        @media #{$mobile} {
            // flex-direction:column;
        }
    }
    
    &__loggedin {
        // background:rgba(73.4,100,42,0.2);
    }

    &__link {
        flex-grow:1;
        color:inherit;
        text-decoration:none;
    }


    &__title {
        font-family: $base-font-family;
        cursor:pointer;
        margin:0;
        @include font-size(32);
        color: $blue;
        font-weight: $weightBold;
        color:$greyish;

        @media #{$mobile} {
            // border-bottom: 1px solid $darkergrey;
        }

        &--40 {
            @include font-size(40);
        }

        &--30 {
            @include font-size(30);

        }
        &--light {
            font-weight: $weightLight;
        }

    }

    &__rule {
        border-top: 1px solid $darkergrey;
        height:1px;
    }

    &__buttons {
        display:flex;
        margin-top:5px;

        @media #{$mobile} {
            padding-top:10px;
            align-self:flex-end;
            margin-bottom:10px;
        }

        // position:absolute;
        // bottom:10px;
        // right:0;
    }

    &__favourite {
        cursor:pointer;
        display:flex;
        margin-right:25px;
        color:$greyish;
        opacity: 0.6;
        align-items: center;

        >label {
            cursor:pointer;
            margin-left:10px;
        }
        &--grey {
            &:before {
                opacity:0.6;
            }
        }
    }
    &__cart-count {
        @include font-size(15);
        margin-right:11px;

    }
    
    &__cart-label {
        @include font-size(15);
        margin-left:10px;

        &--on {
            color:black;
        }
    }



    &__fav-label {
        @include font-size(15);
        &--on {
            color:black;
        }
    }

    &__cart {
        cursor:pointer;
        display:flex;
        color:$greyish;
        opacity: 0.6;
        align-items: center;
        >label {
            cursor:pointer;
        }

    }
}