@import '../../styles/global.scss';


.gallery {
    // background-color:green;
    height: 100%;
    @include flexbox();
    @include flex-direction(column, vertical);


    &__img {
        height:383px;
    }
    &__title {
        margin:0;
        margin-bottom:20px;
        @include font-size(28);
    }
    &__container {
        @include flexbox();
        flex-grow: 1;
    }
    &__left {

    }
    &__imagecontainer {
        height: 384px;
        width:580px;
    }
    &__right {
        margin-left: 20px;
        padding-left: 20px;
        border-left: 1px solid $offwhite;
    }
    &__info {
        margin-top: 40px;
        border-bottom: 1px solid $offwhite;
        padding-bottom: 30px;
    }

    &__metainfo {
        margin-top: 12px;
        @include font-size(12);
        color:rgba(89, 88, 89, 0.7);
        font-weight:$weightMedium;
        letter-spacing: 0.5px;
        > span {
            color:black;
            font-weight:$weightBold;
            letter-spacing: normal;
        }
    }


    &__phototitle {
        @include font-size(26);
        font-weight: $weightLight;
        color: $greyish;
        overflow:hidden;
        @include flex-height(65px);
        word-break: break-all;
    }
    &__photocaption {
        @include font-size(20);
        font-weight: $weightLight;
        color: $greyish;
        line-height: 1.4;
        @include flex-height(235px);
        overflow:hidden;

    }

    &__nav {
        background:$greyish;
        position:absolute;
        top: 50%;
        left:0;
        transform: translateY(-50%);
        border:none;
        height:64px;
        width:35px;
        z-index:4;
        padding:0;
        margin:0;
        &:focus {
            outline: 0;
            -moz-outline-style: none;
        }

        &:before {
            content:'';
            display:block;
            transform: rotate(-45deg);
            height:23px;
            width:23px;
            border: 2px solid;
        }

        &_left {
            &:before {
                margin-left:10px;
                border-top-color:white;
                border-left-color:white;
                border-right-color:transparent;
                border-bottom-color:transparent;
            }
        }
        &_right {
            right:0;
            left:auto;
            &:before {
                position:relative;
                right:3px;
                margin-right:10px;
                border-top-color:transparent;
                border-left-color:transparent;
                border-right-color:white;
                border-bottom-color:white;
            }
        }

    }

}