.image-gallery {
    height:100%;
    .image-gallery-content {
        height:100%;
        .image-gallery-slide-wrapper {
            height:100%;
            .image-gallery-swipe {
                height:100%;
                .image-gallery-slides {
                    height:100%;
                    .image-gallery-slide {
                        height:100%;

                        .image-gallery-image {
                            height:100%;
                        
                            > img {
                                height:100%;
                                object-fit:cover;
                            }
                        }
                    }
                }
            }
        }
    }
}
