@import '../../styles/global.scss';

.search {
    margin-bottom: 80px;
   
    &__icon {
        position: absolute;
        top: 11px;
        right: 28px;
        display:block;
		height: 24px;
		width: 24px;
		background: url('/images/search-icon.svg');
		background-size:contain;
		background-repeat: no-repeat;
    }

    &__calander-container {
        position:absolute;
        // left:-50%;
    }
    &__dates {
        display:flex;
        margin-top: 15px;
    }
    &__datecontainer {
        flex-grow:1;
        min-width:200px;
        position:relative;
        padding-left: 15px;
        border: 1px solid $offwhite;
        height: 43px;
        line-height:43px;
        margin-right:7px;

        &:last-child {
            margin-right:0;
        }

    }
    &__label {
        flex-grow:1;
        margin:0;
        line-height:43px;
    }

    &__button {
        margin-top:40px;
    }

}